
body {
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: grey;
  font-family: sans-serif;
}
button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}
